<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.wk.artist_rating.ArtistRatingMapper">

    <!-- 아티스트 평가 삽입 -->
    <insert id="insertRating" parameterType="ArtistRatingDTO">
        INSERT INTO ratings (rating_id, userfullphonenumber, composer_id, rating)
        VALUES (ratings_seq.NEXTVAL, #{userfullphonenumber}, #{composer_id}, #{rating})
    </insert>

    <!-- 아티스트 평균 평점 조회 -->
    <select id="getAverageRating" parameterType="String" resultType="double">
        SELECT NVL(AVG(rating), 0) FROM ratings WHERE composer_id = #{composer_id}
    </select>
    
        <!-- 아티스트 평가 수정 -->
    <update id="updateRating" parameterType="ArtistRatingDTO">
        UPDATE ratings
        SET rating = #{rating}
        WHERE userfullphonenumber = #{userfullphonenumber} AND composer_id = #{composer_id}
    </update>

    <!-- 아티스트 평가 삭제 -->
    <delete id="deleteRating" parameterType="ArtistRatingDTO">
        DELETE FROM ratings
        WHERE userfullphonenumber = #{userfullphonenumber} AND composer_id = #{composer_id}
    </delete>
    
        <!-- 사용자와 작곡가에 대한 평점 조회 -->
    <select id="getRatingByUserAndComposer" resultType="String">
        SELECT NVL(rating, 0) 
		FROM ratings 
		WHERE userfullphonenumber = #{userfullphonenumber} AND composer_id = #{composer_id}
    </select>
    
    <select id="hasUserRatedArtist" resultType="int">
    	SELECT COUNT(*) FROM ratings WHERE userfullphonenumber = #{userfullphonenumber} 
    	AND composer_id = #{composer_id}
	</select>
	
</mapper>