<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dy.follow.FollowMapper">

    
    <insert id="insertFollow" parameterType="FollowDTO">
        INSERT INTO FOLLOWTABLE (FOLLOWID,FOLLOWERUSERID,TARGETUSERID,created_at)
        VALUES (follow_sequence.NEXTVAL, #{followerUserId}, #{targetUserId}, CURRENT_TIMESTAMP)
    </insert>

    
    <delete id="deleteFollow" parameterType="FollowDTO">
    DELETE FROM FOLLOWTABLE
    WHERE followerUserId = #{followerUserId} AND targetUserId = #{targetUserId}
</delete>

    
   <select id="existsFollow" resultType="boolean">
    SELECT CASE
        WHEN EXISTS (
            SELECT *
            FROM FOLLOWTABLE
            WHERE followerUserId = #{followerUserId} AND targetUserId = #{targetUserId}
        )
        THEN 1
        ELSE 0
    END AS existsFollow
    FROM DUAL
</select>

<select id="getFollowerList" resultType="com.example.demo.dy.follow.FollowDTO">
    SELECT * FROM FOLLOWTABLE WHERE followerUserId = #{userId}
</select>

<select id="getFollowerListWithInfo" resultType="com.example.demo.dy.follow.FollowDTO">
    SELECT f.*, c.COMPOSER_NAME, c.COMPOSER_IMG, ROWNUM AS rnum
    FROM (
        SELECT *
        FROM FOLLOWTABLE f
        WHERE f.followerUserId = #{userId}
        ORDER BY f.created_at DESC
    ) f
    JOIN COMPOSERS c ON f.targetUserId = c.COMPOSER_ID
    WHERE ROWNUM &lt;= #{end}
</select>




<select id="selectComposerIdByName" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT COMPOSER_ID FROM COMPOSERS WHERE COMPOSER_NAME = #{COMPOSER_NAME}
</select>



<select id="getHisId" resultType="com.example.demo.dy.follow.FollowDTO">
    SELECT * FROM FOLLOWTABLE WHERE targetUserId = #{composerId}
</select>

<select id="getFollowerListWithInfo2" resultType="com.example.demo.dy.follow.FollowDTO">
    SELECT f.*, c.COMPOSER_NAME, c.COMPOSER_IMG, ROWNUM AS rnum
    FROM (
        SELECT *
        FROM FOLLOWTABLE f
        WHERE f.targetUserId = #{composerId}
        ORDER BY f.created_at DESC
    ) f
    JOIN COMPOSERS c ON f.followerUserId = c.COMPOSER_ID
    WHERE ROWNUM &lt;= #{end}
</select>



</mapper>