<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타이틀 | 아티스트 프로필 수정</title>
<link rel="stylesheet" href="/css/artist_reg.css">
<script>
	const composerId = `[(${composer.composer_id})]`;
</script>
</head>
<body>
    <form id="artistForm" method="post" enctype="multipart/form-data">
		<main>
        <h2 class="title">아티스트 프로필 수정</h2>
        
        <section>
        <div class="profileTitle">프로필 사진</div>
            <div id="ProfileContainer">
        	<!-- <img id="ProfilePreview" th:src="@{'/images/profile/' + ${composer.composer_img}}"> -->
        	<img id="ProfilePreview" th:src="@{'/images/profile/' + ${composer.composer_img}}">
        	<div class="Profile-btn">
        	<label for="file">
        	  <div class="btn-upload">사진 등록</div>
			</label>
        	<input type="file" id="file" name="composer_profilePicture" accept="image/*" onchange="showProfilePicture(this);">
			</div>
			<p id="fileName"></p>
        	  <div class="btn-useDefault" onclick="useDefaultProfile()">기본 프로필 사진 사용</div>
        	  </div>
       	</section>
        <section>
	       <div class="profileTitle">아티스트 명</div>
	        <input type="text" name="composer_name" maxlength="10" th:value="${composer.composer_name}">
	        <div class="profileTitle">주 장르</div>
	        <select id="musicGenre" name="composer_genre" multiple>
	            <!-- 선택된 장르 데이터에 따라 option에 selected 속성 추가 -->
	            <option value="pop" th:selected="${#strings.contains(composer.composer_genre, 'pop')}">팝</option>
	            <option value="dance" th:selected="${#strings.contains(composer.composer_genre, 'dance')}">댄스</option>
	            <option value="electronic" th:selected="${#strings.contains(composer.composer_genre, 'electronic')}">일렉트로닉</option>
	            <option value="hiphop" th:selected="${#strings.contains(composer.composer_genre, 'hiphop')}">힙합</option>
	            <option value="rnb" th:selected="${#strings.contains(composer.composer_genre, 'rnb')}">R&B</option>
	            <option value="classic" th:selected="${#strings.contains(composer.composer_genre, 'classic')}">클래식</option>
	            <option value="newage" th:selected="${#strings.contains(composer.composer_genre, 'newage')}">뉴에이지</option>
	            <option value="rock" th:selected="${#strings.contains(composer.composer_genre, 'rock')}">락</option>
	            <option value="ballad" th:selected="${#strings.contains(composer.composer_genre, 'ballad')}">발라드</option>
			    <option value="indie" th:selected="${#strings.contains(composer.composer_genre, 'indie')}">인디</option>
			    <option value="jazz_swing" th:selected="${#strings.contains(composer.composer_genre, 'jazz_swing')}">재즈/스윙</option>
			    <option value="latin" th:selected="${#strings.contains(composer.composer_genre, 'latin')}">라틴</option>
			    <option value="korean" th:selected="${#strings.contains(composer.composer_genre, 'korean')}">국악</option>
			    <option value="world" th:selected="${#strings.contains(composer.composer_genre, 'world')}">월드뮤직</option>
			    <option value="ambient" th:selected="${#strings.contains(composer.composer_genre, 'ambient')}">앰비언트</option>
			    <option value="trot" th:selected="${#strings.contains(composer.composer_genre, 'trot')}">트로트</option>
			    <option value="etc" th:selected="${#strings.contains(composer.composer_genre, 'etc')}">기타</option>
	            <!-- 나머지 장르들도 동일하게 처리 -->
	        </select>
	        	<div class="profileTitle">자기 소개</div>
	        	<textarea class="introduce" name="composer_text" maxlength="100" th:text="${composer.composer_text}"></textarea>
        	</section>
        		<input type="hidden" name="userFullPhoneNumber" th:value="${composer.composer_id}">
			<div class="button-box">
		        <button type="submit" onclick="submitForm();">수정</button>
		        <button onclick="history.back();">취소</button>
	        </div>
		</main>        
    </form>
<script type="text/javascript" src="/js/artist_reg.js"></script>
<script>
    function submitForm() {
        var actionUrl = '/artist_upload';
        $('#artistForm').attr('action', actionUrl);
        $('#artistForm').submit();
    }
</script>
</body>

</html>