<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>타이틀 | 아티스트 프로필 등록</title>
<link rel="stylesheet" href="css/artist_reg.css">
</head>
<body>
    <form id="artistForm" action="artist_reg/upload" method="post" enctype="multipart/form-data">
		<main>
        <h2 class="title">アーティストプロフィールの登録</h2>
        
        <section class="sectionLeft">
        <div class="profileTitle">プロフィール写真</div>
            <div id="ProfileContainer">
        	<img id="ProfilePreview" src="images/default_profile.png">
        	<label for="file">
        	  <div class="btn-upload">写真登録</div>
			</label>
        	<input type="file" id="file" name="composer_profilePicture" accept="image/*" onchange="showProfilePicture(this);">
			</div>
			<p id="fileName"></p>
       	</section>
        <section class="sectionRight">
	       <div class="profileTitle">アーティスト名</div>
	        <input type="text" name="composer_name" maxlength="10">
	        <div class="profileTitle">主にするジャンル</div>
	        <select id="musicGenre" name="composer_genre" multiple>
	            <option value="ポップ">ポップ</option>
	            <option value="ダンス">ダンス</option>
	            <option value="エレクトロニック">エレクトロニック</option>
	            <option value="ヒップホップ">ヒップホップ</option>
	            <option value="R&B">R&B</option>
	            <option value="クラシック">クラシック</option>
	            <option value="ニューエイジ">ニューエイジ</option>
	            <option value="ロック">ロック</option>
	            <option value="バラード">バラード</option>
			    <option value="インディ">インディ</option>
			    <option value="ジャズ／スウィング">ジャズ／スウィング</option>
			    <option value="ラテン">ラテン</option>
			    <option value="伝統音楽">伝統音楽</option>
			    <option value="ワールドミュージック">ワールドミュージック</option>
			    <option value="アンビエント">アンビエント</option>
			    <option value="演歌">演歌</option>
			    <option value="その他">その他</option>
	        </select>
	        	<div class="profileTitle">自己紹介</div>
	        	<textarea class="introduce" name="composer_text" maxlength="300"></textarea>
        	</section>
        	
			<div class="button-box">
		        <button type="submit">登録</button>
		        <button onclick="cancelProfileReg()">キャンセル</button>
	        </div>
		</main>        
    </form>
    
<script type="text/javascript" src="js/artist_reg.js"></script>
</body>
</html>