<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>타이틀 | 아티스트 상세</title>
	<link rel="stylesheet" href="/css/artist_detail.css">
	<link rel="stylesheet" href="css/roomset.css">
	<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

	<script th:inline="javascript">
		const userNickname = `[(${session.userNickname})]`;
		const composerId = `[(${composer.composer_id})]`;
		const followerId = `[(${composer.composer_name})]`;
		const followerUserId1 = `[(${session.userFullPhoneNumber})]`;
		const targetUserId1 = `[(${composer.composer_id})]`;

		console.log(targetUserId1);
		console.log(followerUserId1);
	</script>
</head>

<body>
	<!--채팅방 모달 세팅-->
	<div id="myModal" class="modal">
		<div id="modalContent" class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<div id="websocketResult"></div>
			<div id="messageArea" class="message-area"></div>
			<input type="text" id="chatInput" placeholder="メッセージを入力してください。"><br>
			<button onclick="sendMessage()">Send</button>
		</div>
	</div>
	<div id="followerListModal">
		<div id="followerListModalContent">
			<ul id="followerList">

			</ul>
		</div>
		<button class="closeModalBtn" onclick="closeFollowerListModal()">&times;</button>
	</div>
	<div id="followerListModal2">
		<div id="followerListModalContent2">
			<ul id="followerList2">

			</ul>
		</div>
		<button class="closeModalBtn2" onclick="closeFollowerListModal2()">&times;</button>
	</div>

	

	<main>
		<section class="artist-section">
			<div class="artist-container">
				<article class="artist-article">
					<div class="artist-profile">
						<!-- <img th:src="@{${composer.getImgOrDefault()}}" alt="아티스트 프로필 사진"> -->
						<img th:src="@{'/images/profile/' + ${composer.composer_img}}" onerror="this.src='/images/profile/default_profile.png'">


						<div class="rating-container">
							<div class="rating-stars">
								<span class="star" data-value="1">&#9733;</span> <span class="star"
									data-value="2">&#9733;</span> <span class="star" data-value="3">&#9733;</span> <span
									class="star" data-value="4">&#9733;</span>
								<span class="star" data-value="5">&#9733;</span>
							</div>
							<p th:if="${session.userFullPhoneNumber == composer.composer_id}">ユーザーからもらった貴方の平均点</p>
							<p th:if="${session.userFullPhoneNumber != composer.composer_id}">このアーティストに対する貴方の点数は？</p>

							<input id="rating-value" type="hidden">
						</div>

						<div class="artist-profile-funtion">
							<!-- 세션에 있는 artistId와 composerDTO.id가 Thymeleaf 컨텍스트에 있다고 가정합니다. -->
							<!-- HTML 요소에 직접 th:if를 사용합니다. -->
							<!-- <a th:if="${session.userFullPhoneNumber == composer.composer_id}" th:href="@{'/artist_update/' + ${composer.composer_id}}">내 프로필 수정</a>
    						<a th:if="${session.userFullPhoneNumber == composer.composer_id}" th:href="@{/follower_list}" class="button-link">내 팔로워 보기</a> -->
							<!-- <button th:if="${session.userFullPhoneNumber == composer.composer_id}"
								th:onclick="'location.href=\'artist_update/'+ @{${composer.composer_id}} + '\''"
								>내 프로필 수정</button> -->
							<button th:if="${session.userFullPhoneNumber == composer.composer_id}"
								onclick="updateProfile()">プロフィール修正</button>
							<button id="showFollowerListBtn"
								th:if="${session.userFullPhoneNumber == composer.composer_id}">フォロワーを見る</button>

							<!-- HTML 요소에 직접 th:unless를 사용합니다. -->
							<button id="followBtn" th:unless="${session.userFullPhoneNumber == composer.composer_id}"
								onclick="toggleFollow()" th:text="${composer.isFollow == '1' ? 'アン·フォロー' : 'フォロー'}"></button>
								
							<button id="messageBtn" th:unless="${session.userFullPhoneNumber == composer.composer_id}"
								onclick="createChatroom()">このアーティストとチャット</button>
							<button id="followerlistInfo"
								th:unless="${session.userFullPhoneNumber == composer.composer_id}">
								フォロワーを見る</button>

						</div>
					</div>
				</article>

				<div class="artist-profile-text">
					<div class="artist-profile-text-name">
						<h2>アーティスト名</h2>
						<div id="aritst_nickname" th:text="${composer.composer_name}">이름</div>
					</div>
					<div class="artist-profile-text-genre">
						<h2>主にするジャンル</h2>
						<div th:text="${composer.formattedGenre}">주 장르</div>
					</div>
					<div class="artist-profile-text-introduce">
						<h2>自己紹介</h2>
						<div th:text="${composer.composer_text}">자기 소개</div>
					</div>
				</div>

				<article class="music-article">
					<div class="musicList">
						<div class="musicList-id-title" th:text="${composer.composer_name + 'のソングズ'}"></div>
						<div class="musicList-inner">
							<div class="musicList-menu">
								<div class="musicList-title">
									<div></div>
									<div>
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="musicList-PlaySpace"></div>
								<div class="musicList-info">
									<div></div>
									<div></div>
								</div>
								<div class="musicList-option"></div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</section>

		<!-- 코멘트  -->
		<section id="commentTitle" class="comment-container">
			<div class="comment-container-inner" id="commentContainer">
				<div style="width: 100%;">
					<h2>コメント</h2>
				</div>

				<!-- 코멘트 입력란 -->
				<div class="commentInputBox">
					<div th:text="${session.userNickname}" style="align-self: center;">ニックネーム</div>
					<textarea id="commentInput" maxlength="150" placeholder="このアーティストへの応援メッセージを残してください！"></textarea>
					<button style="margin: 0px;" id="commentBtn" th:attr="data-composer-id=${composer.composer_id}">コメント作成</button>
				</div>

				<!-- 댓글 목록을 표시할 영역 -->
				<div id="comments-container"></div>
				<!-- 댓글이 여기에 추가될 것입니다. -->

				<!-- 페이지네이션을 표시할 영역 -->
				<div class="pagination" id="pagination">
					<!-- 페이지 버튼이 여기에 추가될 것입니다. -->
				</div>

			</div>
			</div>
		</section>
	</main>
	<script type="text/javascript" src="/js/artist_detail.js"></script>
	<script type="text/javascript" src="/js/roomset.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="text/javascript" src="/js/follow.js"></script>
	<script src="/js/follower_list_modal.js"></script>
	<link rel="stylesheet" href="/css/follower_list_modal.css">
	<script type="text/javascript" src="/js/follower_others_list_maodal.js"></script>
	<script>
		// artist_detail.html에서 팔로우 리스트 모달 열기
		$('#showFollowerListBtn').on('click', function () {
			// 팔로우 리스트 정보를 가져와서 모달에 표시
			$.ajax({
				type: 'GET',
				url: '/follow/follower_list',
				success: function (response) {
					showFollowerListModal(response);
				},
				error: function (error) {
					console.error('팔로워 리스트 가져오기 오류:', error);
				}
			});
		});
		
		
		$('#followerlistInfo').on('click', function () {
			
			$.ajax({
				type: 'GET',
				url: '/follow/follower_list_others?followerId='+ followerId,
				success: function (response) {
					showFollowerListModal2(response);
				},
				error: function (error) {
					console.error('팔로워 리스트 가져오기 오류:', error);
				}
			});
		});
		function showFollowerListModal2(followerList) {
	$('#followerListModalContent2').html(buildFollowerListHTML2(followerList));
	$('#followerListModal2').show();
}
function closeFollowerListModal2() {
	$('#followerListModal2').hide();
}
function buildFollowerListHTML2(followerList) {
	var html = '<ul>';

	console.log(followerList)

	for (var i = 0; i < followerList.length; i++) {
		html += '<div class="otherfollower" onclick="gotodetail2(' + "" + followerList[i].followerUserId + ');">' +
			'<img src="/images/profile/' + followerList[i].composer_img + '" style="width: 100px; height: 100px;">' +
			'&nbsp;' +
			followerList[i].composer_name +
			'<p>' + '</p>' +
			'</div>';
		console.log(JSON.stringify(followerList[i]))
	}
	html += '</ul>';
	return html;
}

function gotodetail2(phone_follower) {

	console.log(phone_follower)

	const detailPageUrl = "/artist_detail";

	const form = $('<form>', {
		'action': detailPageUrl,
		'method': 'post',
		'style': 'display:none;'
	});

	$('<input>').attr({
		'type': 'hidden',
		'name': 'userFullPhoneNumber',
		'value': "0" + phone_follower
	}).appendTo(form);

	form.appendTo('body').submit();
}
		
	</script>
</body>

</html>