<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타이틀 | 아티스트 프로필 수정</title>
<link rel="stylesheet" href="css/artist_reg.css">
</head>
<body>
    <form id="artistForm" action="artist_update/upload" method="post" enctype="multipart/form-data">
		<main>
        <h2 class="title">아티스트 프로필 수정</h2>
        
        <section>
        <div class="profileTitle">프로필 사진</div>
            <div id="ProfileContainer">
        	<img id="ProfilePreview" src="images/default_profile.png">
        	<label for="file">
        	  <div class="btn-upload">사진 등록</div>
			</label>
        	<!-- <input type="file" id="file" name="composer_profilePicture" accept="image/*" onchange="showProfilePicture(this); updateFileName(this);"> -->
        	<input type="file" id="file" name="composer_profilePicture" accept="image/*" onchange="showProfilePicture(this);">
			</div>
			<p id="fileName"></p>
       	</section>
        <section>
	       <div class="profileTitle">아티스트 명</div>
	        <input type="text" name="composer_name" value="<!-- 아티스트 이름 데이터 -->">
	        <div class="profileTitle">주 장르</div>
	        <select id="musicGenre" name="composer_genre" multiple>
	            <!-- 선택된 장르 데이터에 따라 option에 selected 속성 추가 -->
	            <option value="pop" selected>팝</option>
	            <option value="dance">댄스</option>
	            <!-- 나머지 장르들도 동일하게 처리 -->
	        </select>
	        	<div class="profileTitle">자기 소개</div>
	        	<textarea class="introduce" name="composer_text"><!-- 아티스트 소개 데이터 --></textarea>
        	</section>
        	
			<div class="button-box">
		        <button type="submit">수정</button>
		        <button onclick="history.back(-1)">취소</button>
	        </div>
		</main>        
    </form>

</body>
<script type="text/javascript" src="js/artist_reg.js"></script>
</html>