<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타이틀 | 아티스트 프로필 수정</title>
<link rel="stylesheet" href="/css/artist_reg.css">
<script>
	const composerId = `[(${composer.composer_id})]`;
</script>
</head>
<body>
    <form id="artistForm" method="post" enctype="multipart/form-data">
		<main>
        <h2 class="title">アーティストプロフィールの修正</h2>
        
        <section>
        <div class="profileTitle">プロフィール写真</div>
            <div id="ProfileContainer">
        	<!-- <img id="ProfilePreview" th:src="@{'/images/profile/' + ${composer.composer_img}}"> -->
        	<img id="ProfilePreview" th:src="@{'/images/profile/' + ${composer.composer_img}}">
        	<div class="Profile-btn">
        	<label for="file">
        	  <div class="btn-upload">写真登録</div>
			</label>
        	<input type="file" id="file" name="composer_profilePicture" accept="image/*" onchange="showProfilePicture(this);">
			</div>
			<p id="fileName"></p>
        	  <div class="btn-useDefault" onclick="useDefaultProfile()">基本プロフィール写真を使用</div>
        	  </div>
       	</section>
        <section>
	       <div class="profileTitle">アーティスト名</div>
	        <input type="text" name="composer_name" maxlength="10" th:value="${composer.composer_name}">
	        <div class="profileTitle">主にするジャンル</div>
	        <select id="musicGenre" name="composer_genre" multiple>
	            <!-- 선택된 장르 데이터에 따라 option에 selected 속성 추가 -->
	            <option value="pop" th:selected="${#strings.contains(composer.composer_genre, 'pop')}">ポップ</option>
	            <option value="dance" th:selected="${#strings.contains(composer.composer_genre, 'dance')}">ダンス</option>
	            <option value="electronic" th:selected="${#strings.contains(composer.composer_genre, 'electronic')}">エレクトロニック</option>
	            <option value="hiphop" th:selected="${#strings.contains(composer.composer_genre, 'hiphop')}">ヒップホップ</option>
	            <option value="rnb" th:selected="${#strings.contains(composer.composer_genre, 'rnb')}">R&B</option>
	            <option value="classic" th:selected="${#strings.contains(composer.composer_genre, 'classic')}">クラシック</option>
	            <option value="newage" th:selected="${#strings.contains(composer.composer_genre, 'newage')}">ニューエイジ</option>
	            <option value="rock" th:selected="${#strings.contains(composer.composer_genre, 'rock')}">ロック</option>
	            <option value="ballad" th:selected="${#strings.contains(composer.composer_genre, 'ballad')}">バラード</option>
			    <option value="indie" th:selected="${#strings.contains(composer.composer_genre, 'indie')}">インディ</option>
			    <option value="jazz_swing" th:selected="${#strings.contains(composer.composer_genre, 'jazz_swing')}">ジャズ／スウィング</option>
			    <option value="latin" th:selected="${#strings.contains(composer.composer_genre, 'latin')}">ラテン</option>
			    <option value="korean" th:selected="${#strings.contains(composer.composer_genre, 'korean')}">伝統音楽</option>
			    <option value="world" th:selected="${#strings.contains(composer.composer_genre, 'world')}">ワールドミュージック</option>
			    <option value="ambient" th:selected="${#strings.contains(composer.composer_genre, 'ambient')}">アンビエント</option>
			    <option value="trot" th:selected="${#strings.contains(composer.composer_genre, 'trot')}">演歌</option>
			    <option value="etc" th:selected="${#strings.contains(composer.composer_genre, 'etc')}">その他</option>
	            <!-- 나머지 장르들도 동일하게 처리 -->
	        </select>
	        	<div class="profileTitle">自己紹介</div>
	        	<textarea class="introduce" name="composer_text" maxlength="300" th:text="${composer.composer_text}"></textarea>
        	</section>
        		<input type="hidden" name="userFullPhoneNumber" th:value="${composer.composer_id}">
			<div class="button-box">
		        <button type="submit" onclick="submitForm();">修整</button>
		        <button type="button" onclick="cancelProfileUpdate()">キャンセル</button>
	        </div>
		</main>        
    </form>
<script type="text/javascript" src="/js/artist_update.js"></script>
</body>
</html>