<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="css/home.css" />
<script th:inline="javascript">
	const genre = /*[[${tags.genre}]]*/[];
	const mood = /*[[${tags.mood}]]*/[];
	const instrument = /*[[${tags.instrument}]]*/[];
	const userNickname = `[(${session.userNickname})]`;

	let isLogin = "";

	if (userNickname !== "") {
		isLogin = 1;
	} else {
		isLogin = 0;
	}
</script>


</head>
<body>
	<!-- 	<section th:fragment="content"> -->
	<!-- 		<h1>Welcome to My Website</h1> -->
	<!-- 		<p>This is the home page content.</p> -->
	<!-- 		<p th:text="${session.userFullPhoneNumber}"></p> -->
	<!-- 		<p th:text="${session.iscomposer}"></p> -->
	<!-- 	</section> -->

	<!--     keyBoard -->
	<!---출처 http://theremin.music.uiowa.edu/MISpiano.html-->
	<div class="homeContainer">
		<div class="homeContainer-inner">
			<div class="homeContent-inputSearch">
				<div class="homeContent-inputSearch-inner">

					<div class="homeContent-inputSearch-text">
						<h1 class="inputSearch-text1">원하는 노래 찾아보기 레쓰고~</h1>
						<p class="inputSearch-text2">우리들은 열심히 하고 있어요 ㅜㅜ</p>
					</div>
					<div class="homeInputSearch">
						<div>
							<input id="searchInput"
								placeholder="곡명, 아티스트명, 해시태그 키워드로 검색해 보세요!" />
							<button>검색</button>
						</div>
					</div>

				</div>
			</div>


			<div class="ipod-body">
				<div class="ipod-title">여러가지 태그를 이용해 원하시는 노래를 검색하세요!</div>
				<div class="ipod-container">
					<div class="ipod">
						<div class="ipod-screen">
							<div class="screen-header">
								<button id="backBtn">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
										class="w-6 h-6">
  											<path stroke-linecap="round" stroke-linejoin="round"
											d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
											</svg>


								</button>
								<p>MusicPlayer</p>
								<div>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
										class="w-6 h-6">
 										<path stroke-linecap="round" stroke-linejoin="round"
											d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
											</svg>


								</div>
							</div>
							<div class="screen-inner">

								<ul class="screen-inner-ul">
									<li class="ipod-item hot">지금 핫한곡!</li>
									<li class="ipod-item newMusic">최신곡!</li>
									<li class="ipod-item genre">장르</li>
									<li class="ipod-item mood">분위기</li>
								</ul>
							</div>

						</div>
						<div class="ipod-buttons">

							<div class="ipod-button left">&#9668;</div>
							<div class="ipod-button-middle">
								<div class="ipod-button up">&#9650;</div>
								<div class="ipod-button center">&#9675;</div>
								<div class="ipod-button down">&#9660;</div>
							</div>
							<div class="ipod-button right">&#9658;</div>
						</div>
					</div>
					<div class="ipod-result">
						<div class="musicDetail-content-music">
							<div class="musicDetail-content-music-title">
								<span>뮤직 플레이어를 이용해 음악을 검색해 보세요!</span>
							</div>
<!-- 							<div class="musicDetail-items1"> -->
<!-- 								<div class="musicDetail-title"> -->
<!-- 									<div> -->
<!-- 										<div class="musicDetail-title-img"></div> -->
<!-- 										<div class="musicDetail-title-title"></div> -->
<!-- 										<div class="musicDetail-title-composer"></div> -->
<!-- 										좋아요 하트 -->
<!-- 									</div> -->
<!-- 									<div class="musicDetail-option"> -->
<!-- 										<div class="musicDetail-option-inner"></div> -->
<!-- 									</div> -->
<!-- 								</div> -->

<!-- 								<div class="musicDetail-playSpace"> -->
<!-- 									여기에 오디오 플레이어가 들어갈 것입니다. -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="musicDetail-content-items2"> -->
<!-- 								<div> -->
<!-- 									<div> -->
<!-- 										<div></div> -->
<!-- 										<div class="genre-area"></div> -->
<!-- 									</div> -->
<!-- 									<div> -->
<!-- 										<div></div> -->
<!-- 										<div class="mood-area"></div> -->
<!-- 									</div> -->
<!-- 									<div> -->
<!-- 										<div></div> -->
<!-- 										<div class="instrument-area"></div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
						</div>



					</div>
					<!-- If we need pagination -->

					<!-- If we need navigation buttons -->

					<!-- If we need scrollbar -->
				</div>

			</div>
		</div>
	</div>



	<div class="artist-slider">
		<div class="artist-slider-inner">
			<div class="artist-slider-title">
				<h1>여러 아티스트들을 만나보세요!!</h1>

			</div>

			<ul class="bxslider">
				<li th:each="artist : ${artists}"><img
					th:src="'/images/profile/' + ${artist.composer_img}"
					th:data-composer-id="${artist.composer_id}"
					th:onclick="goToArtistdetail2([[${artist.composer_id}]])" /></li>
			</ul>

		</div>
	</div>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<!-- 	<script -->
	<!-- 	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
	<script src="/js/pagination.min.js"></script>
	<script src="/js/home.js"></script>
</body>


</html>

