<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="css/home.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script th:inline="javascript">
	const genre = /*[[${tags.genre}]]*/[];
	const mood = /*[[${tags.mood}]]*/[];
	const instrument = /*[[${tags.instrument}]]*/[];
	const userNickname = `[(${session.userNickname})]`;

	let isLogin = "";

	if (userNickname !== "") {
		isLogin = 1;
	} else {
		isLogin = 0;
	}
</script>


</head>
<body>
	<!-- 	<section th:fragment="content"> -->
	<!-- 		<h1>Welcome to My Website</h1> -->
	<!-- 		<p>This is the home page content.</p> -->
	<!-- 		<p th:text="${session.userFullPhoneNumber}"></p> -->
	<!-- 		<p th:text="${session.iscomposer}"></p> -->
	<!-- 	</section> -->

	<!--     keyBoard -->
	<!---출처 http://theremin.music.uiowa.edu/MISpiano.html-->
	<div class="swiper-container homeContainer" style="height: 60rem;width: 90rem;">
		<div class="swiper-wrapper homeContainer-inner">
			<!--section1-->
			<div class="swiper-slide main_video_area">
				<video width="100%" autoplay loop muted>
					<source src="/video/main_video.mp4" type="video/mp4">
					</video>
			</div>
			
			<!--section2-->
			<div class="swiper-slide homeContent-inputSearch">
				
				<div class="homeContent-inputSearch-inner">

					<div class="homeContent-inputSearch-text">
						<h1 class="inputSearch-text1">好きな歌を探してみてください!</h1>
						<p class="inputSearch-text2"> </p>
					</div>
					<div class="homeInputSearch">
						<div>
							<input id="searchInput"
								placeholder="曲名、アーティスト名、ハッシュタグキーワードで検索してみてください！" />
							<button>検索</button>
						</div>
					</div>

				</div>
			</div>

			<!--section3-->
			<div class="swiper-slide ipod-body">
					<div class="ipod-title">様様なタグを使用して、ご希望の曲を検索してください！</div>
				<div class="ipod-container">
					<div class="ipod">
						<div class="ipod-screen">
							<div class="screen-header">
								<button id="backBtn">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
										class="w-6 h-6">
  											<path stroke-linecap="round" stroke-linejoin="round"
											d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
											</svg>


								</button>
								<p>MusicPlayer</p>
								<div>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none"
										viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
										class="w-6 h-6">
 										<path stroke-linecap="round" stroke-linejoin="round"
											d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
											</svg>


								</div>
							</div>
							<div class="screen-inner">

								<ul class="screen-inner-ul">
									<li class="ipod-item hot">HOT🔥</li>
									<li class="ipod-item newMusic">NEW</li>
									<li class="ipod-item genre">GENRE</li>
									<li class="ipod-item mood">MOOD</li>
								</ul>
							</div>

						</div>
						<div class="ipod-buttons">

							<div class="ipod-button left">&#9668;</div>
							<div class="ipod-button-middle">
								<div class="ipod-button up">&#9650;</div>
								<div class="ipod-button center">&#9675;</div>
								<div class="ipod-button down">&#9660;</div>
							</div>
							<div class="ipod-button right">&#9658;</div>
						</div>
					</div>
					<div class="ipod-result">
						<div class="musicDetail-content-music">
							<div class="musicDetail-content-music-title">
								<span>뮤직 플레이어를 이용해 음악을 검색해 보세요!</span>
							</div>
						</div>
					</div>
					<!-- If we need pagination -->

					<!-- If we need navigation buttons -->

					<!-- If we need scrollbar -->
				</div>

			</div>
			
			<!--section4-->
			<div class="swiper-slide artist-slider">
				<div class="artist-slider-inner">
					<div class="artist-slider-title">
						<h1>いろんなアーティストたちに会ってみてください！！</h1>
		
					</div>
		
					<ul class="bxslider">
						<li th:each="artist : ${artists}"><img
							th:src="'/images/profile/' + ${artist.composer_img}"
							th:data-composer-id="${artist.composer_id}"
							th:onclick="goToArtistdetail2([[${artist.composer_id}]])" /></li>
					</ul>

				</div>
			</div>
	</div>
		<!-- If we need pagination -->
	      <div class="swiper-pagination"></div>
	
	      <!-- If we need navigation buttons -->
	      <div class="swiper-button-prev"></div>
	      <div class="swiper-button-next"></div>
	</div>



	



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<!-- 	<script -->
	<!-- 	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
	<script src="/js/pagination.min.js"></script>
	<script src="/js/home.js"></script>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
		// 슬라이드를 버튼으로 움직일 수 있습니다.
		direction: 'vertical',
		slidesPerView: 1,//보여줄 이미지갯수
        //spaceBetween: 15,
        slidesPerGroup: 1,//페이징 그룹핑할 갯수(슬라이드할 이미지 갯수)
		loop: true,
        loopFillGroupWithBlank: true,
		  navigation: {
		    nextEl: '.swiper-button-next',
		    prevEl: '.swiper-button-prev',
		  },
		    
		// 현재 페이지를 나타내는 점이 생깁니다. 클릭하면 이동합니다.
		  pagination: {
		    el: '.swiper-pagination',
		    type: 'bullets',
		  },
		 /*autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },*/
		
		    
		
		});
	</script>
</body>


</html>

