<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>음악 등록</title>
<link rel="stylesheet" href="css/music_upload.css">
<script type="text/javascript" src="js/music_upload.js"></script>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
	    <main>
	        <h2 class="title">음악 등록</h2>
			<section class="sectionLeft">
		       <label for="musicFile">음악 제목</label>
		        <input type="text" id="musicFile" name="musicFile">
		
		        <label for="albumArt">앨범 아트</label>
		            <div id="albumArtContainer">
		          	  <img id="albumArtPreview" src="https://files.readme.io/f2e91bb-portalDocs-sonosApp-defaultArtAlone.png" alt="앨범 아트 미리보기">
		        	</div>
		        <input type="file" id="albumArt" name="albumArt" accept="image/*" onchange="showAlbumArt(this)">
		        <label for="musicFile">음악 파일</label>
		        <input type="file" id="musicFile" name="musicFile" accept=".mp3">	
		
		
		        <label for="musicGenre">장르</label>
		        <select id="musicGenre" name="musicGenre" multiple>
		            <option value="pop">팝</option>
		            <option value="dance">댄스</option>
		            <option value="hiphop">일렉트로닉</option>
		            <option value="jazz">힙합</option>
		            <option value="rnb">R&B</option>
		            <option value="classic">클래식</option>
		            <option value="newage">뉴에이지</option>
		            <option value="rock">락</option>
		            <option value="ballad">발라드</option>
				    <option value="indie">인디</option>
				    <option value="jazz_swing">재즈/스윙</option>
				    <option value="latin">라틴</option>
				    <option value="korean">국악</option>
				    <option value="world">월드뮤직</option>
				    <option value="ambient">앰비언트</option>
				    <option value="trot">트로트</option>
				    <option value="etc">기타</option>
		        </select>
			</section>
		
			<section class="sectionRight">

				<article class="musicMood-text">
				<div id="musicMoodTitle" >
				<label for="musicMood">분위기</label>
				</div>
					<div class="musicMood">
					<div class="musicMoodMax">분위기는 최대 10개까지 선택 가능합니다.</div>
						<div class="musicMood-box">
						<input  onclick="CountChecked(this)" type="checkbox" id="bright" name="musicMood" value="bright">
						<label for="bright">밝은</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="exciting" name="musicMood" value="exciting">
						<label for="exciting">신나는</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lively" name="musicMood" value="lively">
						<label for="lively">경쾌한</label>
						
						<input onclick="CountChecked(this)" type="checkbox" id="happy" name="musicMood" value="happy">
						<label for="happy">행복한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="fresh" name="musicMood" value="fresh">
						<label for="fresh">청량한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="cute" name="musicMood" value="cute">
						<label for="cute">귀여운</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="comic" name="musicMood" value="comic">
						<label for="comic">코믹한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="hopeful" name="musicMood" value="hopeful">
						<label for="hopeful">희망찬</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="romantic" name="musicMood" value="romantic">
						<label for="romantic">로맨틱</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lovely" name="musicMood" value="lovely">
						<label for="lovely">사랑스러운</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="sad" name="musicMood" value="sad">
						<label for="sad">슬픈</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dark" name="musicMood" value="dark">
						<label for="dark">어두운</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="melancholy" name="musicMood" value="melancholy">
						<label for="melancholy">우울한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lonely" name="musicMood" value="lonely">
						<label for="lonely">쓸쓸한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="nostalgic" name="musicMood" value="nostalgic">
						<label for="nostalgic">아련한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="calm" name="musicMood" value="calm">
						<label for="calm">잔잔한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="grand" name="musicMood" value="grand">
						<label for="grand">웅장한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dynamic" name="musicMood" value="dynamic">
						<label for="dynamic">비장한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="tense" name="musicMood" value="tense">
						<label for="tense">긴장감</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="angry" name="musicMood" value="angry">
						<label for="angry">화난</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="forceful" name="musicMood" value="forceful">
						<label for="forceful">박력</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="fearful" name="musicMood" value="fearful">
						<label for="fearful">공포</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dreamy" name="musicMood" value="dreamy">
						<label for="dreamy">몽환적인</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="mysterious" name="musicMood" value="mysterious">
						<label for="mysterious">신비로운</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lethargic" name="musicMood" value="lethargic">
						<label for="lethargic">나른한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="futuristic" name="musicMood" value="futuristic">
						<label for="futuristic">미래적인</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="groovy" name="musicMood" value="groovy">
						<label for="groovy">그루브</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="sexy" name="musicMood" value="sexy">
						<label for="sexy">섹시한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="simple" name="musicMood" value="simple">
						<label for="simple">단순한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="addictive" name="musicMood" value="addictive">
						<label for="addictive">중독성</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="complex" name="musicMood" value="complex">
						<label for="complex">난해한</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="exotic" name="musicMood" value="exotic">
						<label for="exotic">이국적인</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="koreatic" name="musicMood" value="koreatic">
						<label for="koreatic">한국적인</label>
						</div>
					</div>
					</article>
			</section>
					<div class="button-box">
						<button type="submit">등록</button>
						<button>취소</button>
				    </div>
		</main>
    </form>
</body>
</html>