<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>타이틀 | 마이 페이지</title>
<link rel="stylesheet" href="css/mypage.css">
</head>
<body>

	<main>
	    <div class="my-page-title">
	        <h1>마이 페이지</h1>
	    </div>
	    
		 <div class="menu-container">
	        <div class="menu-box">
	            <a href="#user-info">회원 정보 수정</a>
	        </div>
	        <div class="menu-box">
	            <a href="/artist_update">아티스트 프로필 수정</a>
	        </div>
	        <div class="menu-box">
	            <a href="#purchase-history">음원 구매 내역</a>
	        </div>
	        <div class="menu-box">
	            <a href="#sales-history">음원 판매 내역</a>
	        </div>
	        <div class="menu-box">
	            <a href="#inquiry">1:1 문의</a>
	        </div>
	        <div class="menu-box">
	            <a href="#withdrawal">회원 탈퇴</a>
	        </div>
	    	</div>
    </main>
</body>
</html>