<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>타이틀 | 마이 페이지</title>
    <link rel="stylesheet" href="css/mypage.css">
    <script th:inline="javascript">
        var userPhoneNumber = `[(${session.userFullPhoneNumber})]`;
    </script>
</head>

<body>
	<div class="my-page-container">
    <div class="my-page">
        <div class="my-page-title">
            <h1>マイページ</h1>
        </div>

        <div class="menu-container-mypage">
          

            <div class="text-container-mypage">
                <div>名前 : <span th:text="${session.userNickname}"></span></div>
                <div>E-mail : <span th:text="${session.userEmail}"></span></div>
                <div>電話番号 : <span th:text="${session.userFullPhoneNumber}"></span></div>

                <div class="delete-button" onclick="realout();">
                    会員 退会
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/js/mypage_user.js"></script>
</body>

</html>