<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>타이틀 | 마이 페이지</title>

	<link rel="stylesheet" href="css/mypage.css">
	
	<script th:inline="javascript">
    var userPhoneNumber = `[(${session.userFullPhoneNumber})]`;
	</script>
</head>


<body>
	<main>
		<div class="my-page-title">
			<h1>마이 페이지</h1>
		</div>

		<div class="menu-container-mypage">
			
	

			<div class="text-container-mypage">

				
				
				
				<p></p>
				<div>이름 : <span th:text="${session.userNickname}"></span> </div>
				<p></p>

				<div>이메일 : <span th:text="${session.userEmail}"></span> </div>
				<p></p>
				<div>휴대전화 : <span th:text="${session.userFullPhoneNumber}"></span> </div>



				<p></p>

				<div onclick="realout();">
					회원 탈퇴
				</div>
			</div>
		</div>
	</main>
	
		<script src="/js/mypage_user.js"></script>
</body>

</html>