<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간편 로그인</title>
    <link rel="stylesheet" href="css/04_Login.css">

</head>

<body>
    <div id="container">
        <div id="section">
            <h2 style="font-size: 45px; font-weight: 1000;">ログイン・新規会員登録</h2>
            <p style="font-size: 20px; font-weight: 500;">様々な方法で簡単にログインしてください.</p>
            <p></p>
            

            <div id="article" onclick="google();">
                <img src="loginbutton/web_light_sq_ctn@2x.png" alt="Google 아이콘" style="width: 250px;" height="100px;">
               
            </div>

            <div id="article" onclick="kakao();">
                <img src="loginbutton/kakao_login_large_narrow.png" alt="Kakao 아이콘" style="border: 1px solid black; border-radius: 5px;" >
                
            </div>
        </div>
    </div>

    <script src="js/04_Login.js"></script>
</body>

</html>