<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/01_home.css" type="text/css">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
</head>
<body>
<header>
    <div id="title">Title</div>
    <div id="music-icon"><i class="fas fa-music"></i></div>
    <div id="user-icon"><i class="far fa-smile"></i></div>
    <div id="profile-icon"><i class="fas fa-user"></i>
        <div class="dropdown-content" id="myDropdown">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
        </div>
    </div>
</header>
<div>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
	<h1>home ~~ test ~~</h1>
</div>
<footer>
    <p>Copyright © 2023 Your Website Name</p>
</footer>
<script src="/js/01_home.js"></script>
</body>
</html>