<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>음악 등록</title>
<link rel="stylesheet" href="css/music_upload.css">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
	    <main>
	        <h2 class="title">음악 등록</h2>
			<section class="sectionLeft">
		       <label for="musicFile">음악 제목</label>
		        <input type="text" id="musicFile" name="musicTitle">
		
		        <label for="albumArt">앨범 아트</label>
		            <div id="albumArtContainer">
		          	  <img id="albumArtPreview" src="https://files.readme.io/f2e91bb-portalDocs-sonosApp-defaultArtAlone.png" alt="앨범 아트 미리보기">
		        	</div>
		        <input type="file" id="albumArt" name="albumArt" accept="image/*" onchange="showAlbumArt(this)">
		        <label for="musicFile">음악 파일</label>
		        <input type="file" id="musicFile" name="musicFile" accept=".mp3">	
		
		
		        <label for="musicGenre">장르</label>
		        <select id="musicGenre" name="musicGenre" multiple>
		            <option value="ポップ">ポップ</option>
		            <option value="ダンス">ダンス</option>
		            <option value="エレクトロニック">エレクトロニック</option>
		            <option value="ヒップホップ">ヒップホップ</option>
		            <option value="RB">R&B</option>
		            <option value="クラシック">クラシック</option>
		            <option value="ニューエイジ">ニューエイジ</option>
		            <option value="ロック">ロック</option>
		            <option value="バラード">バラード</option>
				    <option value="インディ">インディ</option>
				    <option value="ジャズ／スウィング">ジャズ／スウィング</option>
				    <option value="ラテン">ラテン</option>
				    <option value="伝統音楽">伝統音楽</option>
				    <option value="ワールドミュージック">ワールドミュージック</option>
				    <option value="アンビエント">アンビエント</option>
				    <option value="演歌">演歌</option>
				    <option value="その他">その他</option>
		        </select>
		        
		        <div id="selectedGenresContainer">
    			<!-- 선택된 장르가 표시될 공간 -->
				</div>
			</section>
		
			<section class="sectionRight">

				<article class="musicMood-text">
				<div id="musicMoodTitle" >
				<label for="musicMood">분위기</label>
				</div>
					<div class="musicMood">
					<div class="musicMoodMax">분위기는 최대 10개까지 선택 가능합니다.</div>
						<div class="musicMood-box">
						<input  onclick="CountChecked(this)" type="checkbox" id="bright" name="musicMood" value="明るい">
						<label for="bright">明るい</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="exciting" name="musicMood" value="楽しい">
						<label for="exciting">楽しい</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lively" name="musicMood" value="軽快な">
						<label for="lively">軽快な</label>
						
						<input onclick="CountChecked(this)" type="checkbox" id="happy" name="musicMood" value="幸せな">
						<label for="happy">幸せな</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="fresh" name="musicMood" value="清涼な">
						<label for="fresh">清涼な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="cute" name="musicMood" value="可愛い">
						<label for="cute">可愛い</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="comic" name="musicMood" value="コミカルな">
						<label for="comic">コミカルな</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="hopeful" name="musicMood" value="希望的な">
						<label for="hopeful">希望的な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="romantic" name="musicMood" value="ロマンティック">
						<label for="romantic">ロマンティック</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lovely" name="musicMood" value="可愛らしい">
						<label for="lovely">可愛らしい</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="sad" name="musicMood" value="悲しい">
						<label for="sad">悲しい</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dark" name="musicMood" value="暗い">
						<label for="dark">暗い</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="melancholy" name="musicMood" value="憂鬱な">
						<label for="melancholy">憂鬱な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lonely" name="musicMood" value="寂しい">
						<label for="lonely">寂しい</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="nostalgic" name="musicMood" value="切ない">
						<label for="nostalgic">切ない</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="calm" name="musicMood" value="静かな">
						<label for="calm">静かな</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="grand" name="musicMood" value="壮大な">
						<label for="grand">壮大な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dynamic" name="musicMood" value="強烈な">
						<label for="dynamic">強烈な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="tense" name="musicMood" value="緊張感">
						<label for="tense">緊張感</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="angry" name="musicMood" value="過激な">
						<label for="angry">過激な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="forceful" name="musicMood" value="力強い">
						<label for="forceful">力強い</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="fearful" name="musicMood" value="恐怖">
						<label for="fearful">恐怖</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="dreamy" name="musicMood" value="夢幻的な">
						<label for="dreamy">夢幻的な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="mysterious" name="musicMood" value="神秘的な">
						<label for="mysterious">神秘的な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="lethargic" name="musicMood" value="余裕のある">
						<label for="lethargic">余裕のある</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="futuristic" name="musicMood" value="未来的な">
						<label for="futuristic">未来的な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="groovy" name="musicMood" value="グルーヴ">
						<label for="groovy">グルーヴ</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="sexy" name="musicMood" value="セクシーな">
						<label for="sexy">セクシーな</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="simple" name="musicMood" value="単純な">
						<label for="simple">単純な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="addictive" name="musicMood" value="ハマる">
						<label for="addictive">ハマる</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="complex" name="musicMood" value="難解な">
						<label for="complex">難解な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="exotic" name="musicMood" value="異国風な">
						<label for="exotic">異国風な</label>
						
						<input  onclick="CountChecked(this)" type="checkbox" id="koreatic" name="musicMood" value="和風">
						<label for="koreatic">和風</label>
						</div>
					</div>
					</article>
					<label for="musicInstrument">악기</label>
		        <select id="musicInstrument" name="musicInstrument" multiple>
		            <option value="ギター">ギター</option>
		            <option value="ピアノ">ピアノ</option>
		            <option value="ベース">ベース</option>
		            <option value="バイオリン">バイオリン</option>
		            <option value="ドラム">ドラム</option>
		            <option value="チェロ">チェロ</option>
		            <option value="その他">その他</option>
		        </select>
			</section>
					<div class="button-box">
						<button type="submit">등록</button>
						<button>취소</button>
				    </div>
		</main>
    </form>
<script type="text/javascript" src="js/music_upload.js"></script>
</body>
</html>