<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Test Data ~~~ !!!</h2>
	<div id="chatroom-form">
	    <label for="session_id">session ID:</label>
	    <input type="text" id="session_id" name="session_id"/><br/>
	    
	    <label for="follower_id">follower ID:</label>
	    <input type="text" id="follower_id" name="follower_id"/><br/>
	    
	    <button onclick="createChatroom()">채팅방 생성</button>
	</div>
<script src="js/roomset.js"></script>
</body>
</html>