body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#title {
    color: white;
    margin-left: 20px;
    margin-right: 20px; /* 왼쪽 여백 추가 */
    font-size: 25px; /* 크기를 좀만 키워줌 */
}

#music-icon, #user-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: 10px; /* 간격 조절을 위해 margin 추가 */
}

#profile-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: auto; /* 프로필 아이콘만 오른쪽으로 밀어내기 */
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /* 흰색 배경 추가 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    min-width: 160px;
    z-index: 1;
    right: 0;
    top: 40px; /* 아래로 이동시키기 */
   	
}

.dropdown-content a {
    color: black; /* 글자 색상을 검은색으로 변경 */
    font-size: 14px; /* 글자 크기를 작게 조절 */
    padding: 8px 16px; /* 크기를 작게 조절 */
    display: block;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}