/* .artist-main-page header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    필요한 경우 추가 스타일을 넣어주세요
} */

#musicMenuB .highlight-bar {
    display: block;
    width: 100%;
    transition: width 0.0s ease;
}


main {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
}

#artist-a {
	font-size: 14pt;
	color: white;
}

.left-side {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    flex: 1; /* 또는 다른 적절한 비율 */
}

.left-side h2 {
	color: white;
	font-size: 14pt;
	margin: 10px;
}

.left-box {
	background-color: black;
	text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    width: 50%; /* 부모 요소의 100%를 차지하도록 설정 */
    height: 100px;
    border-radius: 10px;
    /* background: linear-gradient(45deg, #2196F3, #4CAF50); */
}

.left-box div {
	color: white;
}
/* 
.icon-container {
    text-align: center;
    margin-bottom: 10px;
}

.icon-container i {
    font-size: 26px; 아이콘 크기 조절
    color: white;
}
 */
.right-side {
	display: flex;
	flex-flow: column;
    padding: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.artist-article {
	width: 50%;
}

.music-article {
	width: 50%;
}

#artists-container {
	min-height: 600px;
	min-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

/* 개별 아티스트 박스 */
.artist-container {
	margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-details {
    display: flex;
    width: 250px;
    height: 150px;
    flex-direction: row;
    padding: 3px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}

.artist-details:hover {
    transform: scale(1.1); /* 아티스트 디테일 박스를 1.1배로 확대합니다. */
}

.artist-details img {
	width: 100px;
	height: auto;
	padding: 10px;
	border-radius: 20px;
}

.artist-details:hover img {
    /* transform: scale(1.1); */ /* 이미지를 1.1배로 확대합니다. */
    transition: transform 0.3s ease; /* 부드러운 전환 효과를 추가합니다. */
}

/* 아티스트 개별 박스 */
.artist-details-word h3{
	font-size: 12pt;
}

.artist-details-word p{
	font-size: 10pt;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 표시할 줄 수 */
    -webkit-box-orient: vertical;
    word-break: break-word;
}


.left-box {
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #333; /* 변경하고자 하는 배경 색상 */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 추가 */
}

/* 아티스트 검색 */
.search-box {
	position: relative;
	width: 200px;
    display: flex;
    align-items: center;
}

.search-input-container {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding: 9px;
    padding-left: 35px;
}

#searchButton {
	position: absolute;
    padding: 9px 9px;
    cursor: default;
    border-radius: 2px;
    /* border: 1px solid #767676; */
}

/* #searchButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #333; 변경하고자 하는 배경 색상
    transition: box-shadow 0.3s ease, background-color 0.3s ease; 부드러운 전환 효과 추가
} */

/* 아티스트 페이징 */
#pagination {
    position: relative; /* 페이지 번호를 화면 아래에 고정 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.pagination-link {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-link.active {
    background-color: black;
    color: #fff;
    cursor: default;
}

.pagination-link:hover {
    background-color: black;
    color: #fff;
}
