/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
} */
main {
	background-color: #fff;
	width: 800px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	width: 350px;
	padding: 20px;
}

.title {
	width: 100%;
}

h2 {
	text-align: center;
	color: #333;
}

.profileTitle {
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

input[type="text"], select, textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
}

input[type="file"] {
	display: none;
	/*  background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
}

.btn-upload, .btn-useDefault {
	width: 200px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-upload:hover {
	background : black;
	color: #fff;
	
}

/* .btn-useDefault {
	margin-top: 10px;
	padding: 10px;
	width: 80%;
	color: black;
	cursor: pointer;
	border: none;
	border-radius: 4px;
} */

/* .artist-profile-funtion a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #efefef; 배경색을 지정하거나 필요에 따라 수정하세요
    font-size: 10pt;
}

.artist-profile-funtion a:hover {
    background-color: #CCCCCC; 호버 시 배경색을 원하는 색으로 변경하세요
} */

/* .artist-profile-funtion button {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.artist-profile-funtion button:hover {
    background: linear-gradient(45deg, #333, #222); 그라데이션 배경색을 지정하세요
    color: white; 호버 시 텍스트 색상을 변경합니다
} */
#ProfileContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#OldProfilePreview {
	width: 200px;
	margin: 30px;
}

#ProfilePreview {
	width: 200px;
	margin: 30px;
}

#profilePicture {
	
}

#musicGenre {
	text-align: center;
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

button {
	background-color: black;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 10px;
}

.button-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.introduce {
	height: 300px;
	resize: none;
}