body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
}


.left-side {
    background-color: black;
    color: #fff;
    flex: 0.4; /* 또는 다른 적절한 비율 */
}

.right-side {
	display: flex;
	flex-flow: column;
    padding: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* 개별 아티스트 박스 */
.artist-container {
	margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-article {
	width: 50%;
}

.music-article {
	width: 50%;
}

#artists-container {
	height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.artist-details {
    display: flex;
    width: 250px;
    height: 200px;
    flex-direction: row;
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함하도록 설정 */
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.artist-details:hover {
    transform: scale(1.1); /* 아티스트 디테일 박스를 1.1배로 확대합니다. */
}

.artist-details img {
    width: 100%; /* 부모 요소인 .artist-details에 대해 100%로 설정합니다. */
    height: auto; /* 비율을 유지하면서 이미지의 높이를 자동으로 조절합니다. */
    border-radius: 15%;
    margin-bottom: 10px;
}

.artist-details img {
    width: 80%; /* 부모 요소인 .artist-details에 대해 100%로 설정합니다. */
    height: auto; /* 비율을 유지하면서 이미지의 높이를 자동으로 조절합니다. */
    border-radius: 15%;
    margin-bottom: 10px;
}

.artist-details:hover img {
    transform: scale(1.1); /* 이미지를 1.1배로 확대합니다. */
    transition: transform 0.3s ease; /* 부드러운 전환 효과를 추가합니다. */
}

.left-box {
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #333; /* 변경하고자 하는 배경 색상 */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 추가 */
}

/* 아티스트 검색 */
.search-box {
	width: 600px;
    display: flex;
    align-items: center;
}

.search-input-container {
    display: flex;
    align-items: center;
}

#searchInput {
	
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

#searchButton {
    padding: 8px 12px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

#searchButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #333; /* 변경하고자 하는 배경 색상 */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 추가 */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100px;
    border-radius: 15%;
    margin-right: 10px;
}

#pagination {
    position: relative; /* 페이지 번호를 화면 아래에 고정 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.pagination-link {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-link.active {
    background-color: black;
    color: #fff;
    cursor: default;
}

.pagination-link:hover {
    background-color: black;
    color: #fff;
}
