/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
} */
main {
	background-color: #fff;
	width: 800px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	width: 350px;
	padding: 20px;
}

.title {
	width: 100%;
}

h2 {
	text-align: center;
	color: #333;
}

.profileTitle {
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

input[type="text"], select, textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
}

input[type="file"] {
	display: none;
	/*  background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
}

.Profile-btn {
	padding: 10px;
}

.btn-upload, .btn-useDefault {
	width: 200px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-upload:hover, .btn-useDefault:hover {
	background: black;
	color: #fff;
}

#ProfileContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* #OldProfilePreview {
	width: 200px;
	margin: 20px;
} */
#ProfilePreview {
	height: 250px;
	margin: 20px;
	border-radius: 4px;
}

/* #profilePicture {
	
} */
#musicGenre {
	text-align: center;
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

button {
	background-color: black;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 10px;
}

.button-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.introduce {
	height: 300px;
	resize: none;
}