#musicMenuB .highlight-bar {
    display: block;
    width: 100%;
}

/* 아티스트 섹션 */

.artist-section {
	display: flex;
	height: 600px;
	padding: 20px;
	justify-content: center;
}

.artist-container{
	display: flex;
	width: 1200px;
}

.artist-profile {
	width: 250px;
    max-width: 300px;
    text-align: center;
    margin: 20px;
}

.artist-profile img {
	max-height: 350px;
	max-width: 200px;
    border-radius: 5%;
}

.artist-profile-text {
	width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.artist-profile-text-name {
    display: flex;
    flex-direction: column;
    height: 20%;
}
.artist-profile-text-genre {
	display: flex;
    flex-direction: column;
    height: 20%;
}

.artist-profile-text-introduce {
	height: 60%;
}

.artist-profile-text h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.artist-profile-text div {
    color: #666;
    font-size: 20px;
    margin-bottom: 5px;
}

.rating-container {
    margin-top: 10px;
}

.rating-stars {
    font-size: 1.8em;
    cursor: pointer;
}

.rating-stars .star {
    display: inline-block;
    margin: 0px;
    color: #ddd;
    transition: color 0.3s;
}

.rating-stars .star:hover,
.rating-stars .star.active {
    color: #f8d71c;
}

.artist-profile-funtion button {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.artist-profile-funtion button:hover {
    background: linear-gradient(45deg, #333, #222); /* 그라데이션 배경색을 지정하세요 */
    color: white; /* 호버 시 텍스트 색상을 변경합니다 */
}

.artist-profile-funtion a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #efefef; /* 배경색을 지정하거나 필요에 따라 수정하세요 */
    font-size: 10pt;
}

.artist-profile-funtion a:hover {
    background-color: #CCCCCC; /* 호버 시 배경색을 원하는 색으로 변경하세요 */
}

/* #followBtn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#followBtn:hover {
	background-color: #555;
}

#messageBtn {
	background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#messageBtn:hover {
	background-color: #555;
} */

/* 하단 코멘트 섹션 */
.comment-container {
	height: 750px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.comment-container-inner {
	width: 800px;
	padding: 30px;
}

.comment {
	width: 100%;
    margin-bottom: 10px;
}
#commentInput {
    width: 60%;
    margin: 30px;
    resize: none;
    border-radius: 4px;
    
}

.commentInputBox {
	width: 100%;
	display: flex;
	justify-content: center;
}

#commentBtn {
    background-color: #fff;
    border-radius: 4px;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    align-self: center;
    height: 35px;
}

#commentList {
	padding-left: 150px;
	padding-right: 150px;
	
}

/* 코멘트 컨테이너 스타일링 */
#comments-container {
}

/* 각 코멘트 아이템 스타일링 */
.comment-item {
	display: flex;
	align-items: center;
    margin-bottom: 30px; /* 아래쪽 여백 추가 */
    position: relative; /* 상대적인 위치 설정 */
}

/* 사용자 닉네임 스타일링 */
.comment-item .user-nickname {
	width: 20%;
    font-weight: bold; /* 굵은 글꼴 */
    color: white; /* 파란색 */
}

/* 코멘트 내용 스타일링 */
.comment-item .comment-content {
	width: 55%;
}

/* 작성 시간 스타일링 */
.comment-item .created-at {
	width: 20%;
    font-size: 12px; /* 작은 글꼴 크기 */
    color: #888; /* 회색 */
}

/* 삭제 버튼 스타일링 */
.comment-item .delete-btn {
	width: 5%;
  	cursor: pointer;
  	color: white;
  	margin-left: 5px;
}

#pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; /* 페이지 번호가 가려지는 것을 방지하기 위해 배경색을 지정 */
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 페이지 번호를 감싸는 영역 스타일 */
.pagination ul {
    list-style: none;
    padding: 0;
    margin: 30px;
    text-align: center;
}

/* 각 페이지 번호의 스타일 */
.pagination li {
    display: inline-block;
    margin-right: 5px; /* 각 페이지 번호 사이의 간격 조절 */
}

.pagination a {
	margin: 4px;
    text-decoration: none;
	padding: 2px 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* hover 효과를 부드럽게 만들기 위한 트랜지션 설정 */
	border-radius: 4px;
}

/* hover 효과 */
.pagination a:hover {
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}

/* 활성화된 페이지 번호의 스타일 */
.pagination-link.active {
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}

/* musicList */

.no-music-message {
	position: absolute;
	top: 275px;
	font-size: 20px;
}

.musicList{
	width: 500px;
	height: 100%;
	position: relative;	
	background-color: black;
	color: white;
	border-radius: 10px;
	
}
.musicList-inner {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 컨테이너를 세로로 가운데 정렬 */
    justify-content: center; /* 내부 컨테이너를 가로로 가운데 정렬 */
    overflow-y: auto; /* 세로 스크롤을 추가합니다. */
    max-height: 500px; /* 스크롤이 나타날 최대 높이를 지정합니다. */
    
}

.musicList-id-title {
	height: 18px;
	font-size: 14pt;
	/* text-align: center; */
	padding: 10px;
}

.musicList-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%; /* 노래 컨테이너를 100%로 설정 */
    height: 65px;
    box-sizing: border-box; /* padding을 포함한 크기로 설정 */
}

.musicList-title {
    display: flex;
    align-items: center;
}

.musicList-title img {
	width: 40px;
	height: 40px;
	margin: 10px;
    border-radius: 50%;
}

.musicList-title,
.musicList-option {
    display: contents;
    flex-direction: column;
}
.musicList-info{
	display: flex;
	flex-direction: column;
	font-size: 10px;
}

.musicList-PlaySpace {
    display: flex;
    align-items: center;
}

.audio-player {
	background-color: white;
}

audio{
	height: 40px;
	padding: 10px;
}

.musicList-title div,
.musicList-option div {
    margin: 5px 0; /* 각 섹션의 요소들 사이의 간격 설정 */
}

.musicList-option-inner{
	max-width: 3%;
	
}

/*  음악 플레이어 */

/* .music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.music-info {
    display: flex;
    align-items: center;
}

.album-art {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.album-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-details {
    display: flex;
    flex-direction: column;
}

.music-title {
    font-weight: bold;
}

.artist-name {
    font-style: italic;
}

#playPauseBtn {
  	background-color: black;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.music-controls {
    display: flex;
    align-items: center;
}

.time {
    margin-left: 10px;
}

.comment-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

Progress Bar
.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
}

.progress {
    height: 5px;
    border-radius: 4px;
    background-color: black;
    width: 50%; Set initial progress width
} */