@charset "UTF-8";
body {
	margin: 0px;
}

a {
	position: relative;
	text-decoration-line: none;
    color: white;
    border-radius: 3px;
    padding: 3px;
    margin-right: 10px;
}

header {
	height: 200px;
    display: flex;
    justify-content: space-between; /* 자식 요소 사이의 공간을 최대화하여 우측 정렬 */
    background-color: black;
    color: white;
    padding: 30px;
}

footer {
	height: 200px;
	background-color: black;
    color: white;
    padding: 20px;
}

#title {
	font-size: 20pt;
}