@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

header {
	position: relative;
	top:0;
	width:99vw;
    z-index: 999 !important;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	height: 84px; /* 헤더 높이를 2배로 조절 */
}

a {
	text-decoration: none;
}

.header-leftSection {
	display: flex;
}

.header-rightSection {
	display: flex;
}

#simple-login {
	text-decoration: none;
	font-size: 16px;
	color: white;
	margin-right: 10px;
}

#title {
	color: white;
	margin-left: 20px;
	margin-right: 20px; /* 왼쪽 여백 추가 */
	font-size: 1.5em; /* 크기를 좀만 키워줌 */
	align-self: center;
}

#musicMenuA,
#musicMenuB,
#musicMenuC,
#musicMenuD,
#musicMenuE {
	text-decoration: none;
	position: relative;
}

.icon-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75px;
}

#music-search-container {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 24px;
	color: white;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 5px;
}

#music-search-container span {
	text-decoration: none; /* 하이퍼링크 밑줄 제거 */
	font-size: 12px; /* 텍스트 크기를 작게 조절 */
	color: white;
	margin-top: 10px;
}

.user-menu{
	display: flex;
}

/* 드롭다운 메뉴 */
/* #profile-icon {
    align-items: center; 수직 가운데 정렬을 위해 추가
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    position: relative;
} */

/* #profile-icon i {
    margin-right: 10px; 아이콘 간격을 조절하기 위해 추가
} */

#profile-icon-link {
    text-decoration: none;
    color: white;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white; /* 흰색 배경 추가 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
	min-width: 160px;
	z-index: 1;
	right: 0;
	top: 85px; /* 아래로 이동시키기 */
	border-radius: 4px;
}

.dropdown-content a {
	color: black; /* 글자 색상을 검은색으로 변경 */
	font-size: 14px; /* 글자 크기를 작게 조절 */
	padding: 8px 16px; /* 크기를 작게 조절 */
	display: block;
	text-decoration: none;
	border-radius: 4px;
}

.dropdown-content a:hover {
	background-color: black;
	color: white; /* 글자 색상을 검은색으로 변경 */
	font-size: 14px; /* 글자 크기를 작게 조절 */
	padding: 8px 16px; /* 크기를 작게 조절 */
	display: block;
	text-decoration: none;
	border-radius: 4px;
}

/* 흰색 바 스타일 */
.highlight-bar {
	position: absolute;
	height: 4px;
	background-color: white;
	bottom: -15px;
	left: 0;
	right: 0;
	width: 0; /* 초기 너비를 0으로 설정 */
    transition: width 0.3s ease; /* 변화가 일어날 속성과 시간, 이징 함수 설정 */
	display: none;
}

#musicMenuA .highlight-bar,
#musicMenuB .highlight-bar,
#musicMenuC .highlight-bar,
#musicMenuD .highlight-bar,
#musicMenuE .highlight-bar {
    display: block;
}

/* 링크에 호버될 때 흰색 바 표시 */
#musicMenuA:hover .highlight-bar,
#musicMenuB:hover .highlight-bar,
#musicMenuC:hover .highlight-bar,
#musicMenuD:hover .highlight-bar,
#musicMenuE:hover .highlight-bar {
	display: block;
	width: 100%;
}

/* 푸터 */
footer {
	position: relative;
	height: 200px;
	background-color: black;
	color: white;
	padding: 20px;
}