#followerListModal {
      display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 80%;
    max-width: 270px;
    max-height: 70vh;
    overflow-y: auto;
    padding-left: 20px;
    /* padding-top: 55px; */
    text-align: center;
    padding: 15px;
    padding-right: 20px;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


#followerList {
    list-style: none;
    padding: 0;
}

#followerList li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f5f5f5; 
    display: flex;
   
}

#followerList li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.closeModalBtn {
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
}

.closeModalBtn:hover {
    background-color: #333; /* 수정: 하버 효과 변경 */
    color: #fff; 
}

#followerListModal2 {
        display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 80%;
    max-width: 270px;
    max-height: 70vh;
    overflow-y: auto;
    padding-left: 20px;
    /* padding-top: 55px; */
    text-align: center;
    padding: 15px;
    padding-right: 20px;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#followerList2 {
    list-style: none;
    padding: 0;
}

#followerList2 li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f8f8f8; /* 밝은 배경색 사용 */
    display: flex;
    
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 표시 */
}

#followerList2 li:hover {
    background-color: #e0e0e0; /* Hover 효과 시 색상 변경 */
}

#followerList2 li.active {
    background-color: #b3e0ff; /* 클릭한 div 색상 변경 */
}

#followerList2 li .followerInfo {
    width: 80%; /* 80% 너비를 가지도록 조절 */
}

#followerList2 li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}



.closeModalBtn2 {
   position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
}

.closeModalBtn2:hover {
    background-color: #333; /* 수정: 하버 효과 변경 */
    color: #fff; 
}
#followerList2 li.follower-list-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f8f8f8; /* 밝은 배경색 사용 */
    display: flex;
    
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 표시 */
}

#followerList2 li.follower-list-item:hover {
    background-color: #e0e0e0; /* Hover 효과 시 색상 변경 */
}

#followerList2 li.follower-list-item.active {
    background-color: #b3e0ff; /* 클릭한 div 색상 변경 */
}

#followerList2 li.follower-list-item .followerInfo {
    width: 80%; /* 80% 너비를 가지도록 조절 */
}

.followerListModalContent2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.otherfollower {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 8px; 
    background-color: #f8f8f8; 
    transition: background-color 0.3s; 
}

.otherfollower:hover {
    background-color: #e0e0e0; 
}

.otherfollower img {
    width: 35px;
    height: 35px;
    object-fit: cover; /* 이미지 비율 유지 */
    border-radius: 50%;
    margin-right: 10px;
}

.otherfollower span {
    line-height: 35px;
}