body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#error {
    color: red;
}