#musicMenuA .highlight-bar {
    display: block;
    width: 100%;
}

.musicMenu-container {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100vw;
	height: 100vw;
	background-color: black;
}

.musicMenu-inner {
	width: 1200px;
	margin: 0 auto;
	background-color: black;
}

.musicList-menu-title {
	font-size: x-large;
	text-align: center;
	width: 100%;
}

.musicMenu-title {
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
}

.musicMenu-search {
	background-color: black;
	padding: 15px;
	border-radius: 5px;
	display: flex; /* Flex 컨테이너로 설정 */
	flex-direction: column; /* 내부 요소들을 세로로 나열하도록 설정 */
	align-items: center; /* 가운데 정렬 설정 */
	position: relative;
}

.musicMenu-searchInput {
	display: flex;
	margin-bottom: 15px;
	width: 40%;
}

.musicMenu-searchInput input {
	width: 80%;
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 5px 0 0 5px;
}

.musicMenu-searchInput button {
	padding: 10px;
	border: none;
	border-radius: 0 5px 5px 0;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.musicMenu-searchOption {
	display: flex;
	justify-content: center; /* 가운데 정렬을 추가 */
	width: 70%;
}

.musicMenu-searchOption div {
	flex: 1;
	padding: 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

.musicMenu-searchOption ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center; /* 가운데 정렬을 추가 */
	padding: 0;
	margin: 0;
}

.musicMenu-searchOption li {
	cursor: pointer;
	padding: 10px;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
}

.musicMenu-searchOption li:hover {
	background-color: #ddd;
}

.musicMenu-searchTag {
	margin-top: 15px;
	color: white;
	display: none; /* 초기에 searchTag를 숨김 */
	width: 80%
}

.musicMenu-searchTag.active {
	display: block;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* 추가: 넘치면 다음 줄로 개행 */
}

.musicMenu-searchTag div {
	margin: 0 5px;
	font-weight: bold; /* 텍스트만 볼드로 설정 */
	cursor: pointer;
	white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
	color: white;
	text-align: center;
}

.musicMenu-searchTag div:hover {
	background-color: #ddd;
}

.musicMenu-searchTagInput {
	margin-top: 15px;
	display: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* 초기에 searchTagInput을 숨김 */
	width: 70%;
}

.musicMenu-searchTagInput div {
	padding: 10px;
	margin: 0 5px;
	font-weight: bold; /* 텍스트만 볼드로 설정 */
	cursor: pointer;
	white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 20px;
	cursor: pointer;
}

.musicMenu-searchTagInput div.text:hover {
	color: white; /* 마우스 오버 시 텍스트 색상 변경 */
}

.musicMenu-searchTag.hidden, .musicMenu-searchTagInput.hidden {
	display: block; /* hidden 클래스가 없을 때 요소를 표시 */
}

.heart-filled {
	font-size: x-large;
	color: red;
}

/* musicList */

#data-container{
	width: 100%;
	
}
.musicList {
	width: 100%; position : relative;
	background-color: black;
	color: white;
	position: relative;
}

.musicList-inner {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.musicList-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: black;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 100%; /* 노래 컨테이너를 100%로 설정 */
	box-sizing: border-box; /* padding을 포함한 크기로 설정 */
}

.musicList-title {
	display: flex;
	align-items: center;
}

.musicList-title img {
	max-width: 50px; /* 이미지의 최대 너비를 조절합니다. 원하는 크기로 조절하세요. */
	margin-right: 10px;
	border-radius: 5px; /* 이미지 테두리 둥글게 설정 */
}

.musicList-title, .musicList-option {
	display: contents;
	flex-direction: column;
}

.musicListTitle-hover:hover{
	cursor: pointer;
}

.musicList-info {
	display: flex;
	flex-direction: column;
	font-size: 10px;
}

.musicList-PlaySpace {
	display: flex;
	align-items: center;
}

.audio-player {
	width: 70%; /* 플레이어를 노래 컨테이너에 꽉 차게 설정 */
}

audio {
	width: 100%;
}

.musicList-title div, .musicList-option div {
	margin: 5px 0; /* 각 섹션의 요소들 사이의 간격 설정 */
}

.musicList-option-inner {
	max-width: 3%;
}

/* pagination */
.paginationjs {
	line-height: 1.6;
	font-family: Marmelad, "Lucida Grande", Arial, "Hiragino Sans GB",
		Georgia, sans-serif;
	font-size: 14px;
	box-sizing: initial;
	width: 70%;
	margin: 0 auto;
/* 	padding: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}