/* 모달 스타일 */
.modal {
    border-radius: 20px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* 고정된 너비 설정 */
    width: 100%; /* 너비 100% 설정 */
}

/* 수정된 부분 추가 */
.modal-content {
    max-height: 70vh; /* 모달 창 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 설정 */
}

/* 채팅 메시지 영역 스타일 */
#messageArea {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    height: 200px;
    overflow-y: auto; /* 세로 스크롤 설정 */
}

/* 채팅 메시지 스타일 */
#messageArea .other-chat {
    text-align: left;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#messageArea .own-chat {
    text-align: left;
    color: #000;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* 모달 내 메세지 입력 부분 스타일 */
#chatInput {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 모달 내 Send 버튼 스타일 */
#myModal button {
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* 모달 내 Send 버튼 호버 효과 */
#myModal button:hover {
    background-color: #666;
}