<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아티스트 상세</title>
<link rel="stylesheet" href="css/artist_detail.css">
<script type="text/javascript" src="js/artist_detail.js"></script>
</head>
<body>
<body>
	<form action="">
	<main>
	    <div class="main-container">
	        <div class="artist-profile">
	            <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Download-Image.png" alt="아티스트 프로필 사진">
	            <div class="rating-container">
	                <div class="rating-stars">
	                    <span class="star" data-value="1">&#9733;</span>
	                    <span class="star" data-value="2">&#9733;</span>
	                    <span class="star" data-value="3">&#9733;</span>
	                    <span class="star" data-value="4">&#9733;</span>
	                    <span class="star" data-value="5">&#9733;</span>
	                </div>
	                <p id="rating-value">평가 없음</p>
	            </div>
			<div class="artist-profile-funtion">
	            <button id="followBtn">팔로우</button>
	            <button id="messageBtn">쪽지 보내기</button>
	        </div>
	        </div>
	        
	        <div class="artist-profile-text">
	            <h2>아티스트 이름</h2>
	            <h2>주 장르</h2>
	            아티스트 등록시 가져온 값
	            <h2>자기 소개</h2>
	            user_pr
	        </div>
	        
	        <div class="music-list">
			    <div class="music-player">
			        <div class="music-info">
			            <div class="album-art">
			                <img src="img/Default_Profile_Picture.png" alt="Album Art">
			            </div>
			            <div class="music-details">
			                <div class="music-title">Song Title</div>
			                <div class="artist-name">Artist Name</div>
			            </div>
			        </div>
			        <div class="music-controls">
			            <button class="play-button">Play</button>
			            <div class="time">0:00 / 3:30</div>
			            <button class="comment-button">Comment</button>
			        </div>
			    </div>
			    <div class="progress-bar">
			        <div class="progress"></div>
			    </div>
			
	        </div>
	    </div>

		    <section class="comment-container">
			    <div class="comment-container-inner">
			    	<div style="width: 100%;">
			    		<h2>댓글</h2>
			    	</div>
				    <div style="width: 100%; display: flex; justify-content: center;">
				    	<div style="align-self: center;">닉네임</div>
				        <textarea id="commentInput" placeholder="댓글을 입력하세요."></textarea>
				        <button id="commentBtn">댓글 작성</button>
				    </div>
			        <div id="commentList" style="width: 800px">
			            <div class="comment">사용자1: 좋아요!</div>
			            <div class="comment">사용자2: 응원합니다!</div>
			        </div>
		        </div>
		    </section>
	    </main>
	</form>
</body>
</html>